@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --background-primary: #1e1e1e;
    --foreground: #d7cfc0;
    --foreground-primary: #e2c99c;
  }
}

header {
  @apply bg-[var(--background-primary)] text-[var(--foreground-primary)] font-sans flex items-center justify-between p-4;
}

main {
  @apply text-[var(--foreground)] bg-[var(--background)] font-sans px-5 flex-grow;
}

footer {
  @apply bg-[var(--background-primary)] text-[var(--foreground-primary)] font-sans mt-12 text-center p-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
