@import "tailwindcss";

@source "../components";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --background: #ffffff;
  --background-primary: #e1e1e1;
  --foreground: #171717;
  --foreground-primary: #a85f42;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --background-primary: #1e1e1e;
    --foreground: #d7cfc0;
    --foreground-primary: #cba764;
  }
}

header {
  @apply bg-[var(--background-primary)] text-[var(--foreground-primary)] font-sans flex items-center justify-between p-4;
}

main {
  @apply text-[var(--foreground)] bg-[var(--background)] font-sans px-5 flex-grow;
}

footer {
  @apply bg-[var(--background-primary)] text-[var(--foreground-primary)] font-sans text-center p-2;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
